
h7 {
    font-size: 40px;
    color: whitesmoke;
    font-weight: 400;
    margin-top: 200px;
}
p {
    background-color: white;
    color: black;
    margin-top: 100px;
    font-family: 'Open Sans Condensed', sans-serif;
}