html{
 
}

img {
    width: 45%;
    height: auto;
    display: center;
   
    flex-wrap: wrap;
    border: 8px solid black;
    
}

h2 {
    color:;
    margin-top: 200px;
    
}
.images{
    margin-top: 50px;
}
